/* fix links where hover in preview panel does not remove changes highlight */

.mmd-preview-content:not(:hover) .wp-changed {
    box-shadow: 1px 1px 10px red !important;
    background: rgba(250, 0, 0, 0.2) !important;
}

* {
    transition: background 0.3s, box-shadow 0.3s;
}
