/* MarkDown editor */
.mmd-panel{width: 100%;}
.mmd-button-bar {width: 100%;}
.mmd-help-spaces{background: white;}
.mmd-button-row {position: relative; margin-left: 5px;margin-right: 5px;margin-bottom: 0px;margin-top: 10px;padding: 0px; height: 20px;}
.mmd-spacer{width: 1px; height: 20px;margin-left: 14px;position: absolute;background-color: Silver;display: inline-block; list-style: none;}
.mmd-button {width: 20px;height: 20px;padding-left: 2px;padding-right: 3px;position: absolute;display: inline-block;list-style: none;cursor: pointer;}
.mmd-button > span {background-image: url(mmd-buttons.png);background-repeat: no-repeat;background-position: 0px 0px;width: 20px;height: 20px;display: inline-block;}
.mmd-spacer1{left: 50px;}
.mmd-spacer2{left: 175px;}
.mmd-spacer3{left: 300px;}
.mmd-spacer3-admin{left: 320px;}
.mmd-prompt-background{background-color: Black;}
.mmd-prompt-dialog{border: 1px solid #999999;background-color: #FDFDF5;}
.mmd-prompt-dialog > div {font-size: 0.8em;font-family: arial, helvetica, sans-serif;text-align: center;}
.mmd-prompt-dialog > form > input[type="text"] {border: 1px solid #999999;color: black;}
.mmd-prompt-dialog > form > input[type="button"]{font-family: trebuchet MS, helvetica, sans-serif;font-size: 0.8em;font-weight: bold;}

/*Markdown Admin*/
#ed_toolbar .mmd-button-row{margin:5px 0px}
.wp-admin .mmd-prompt-dialog > div {font-size: 1em;}

#content {
    width: calc(50% - 2px);
    display: inline-block;
    vertical-align: top;
}

#mmd-preview-component {
    clear: both;
    width: 100%;
    margin: 35px 0px 10px 0px;
    padding: 20px;
    border-left: 11px solid #aaa;
    background: #fff;
    display: inline-block;
    text-align: initial;
    width: calc(50% - 60px);
    overflow: auto;
    max-height: 100%;
    vertical-align: top;
}